.favoritesList {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .favoritesList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}